@import "tailwindcss";

@theme {
  --animate-marquee: marquee 22s linear infinite;

  @keyframes marquee {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
}
